/target
/lib
/classes
/checkouts
/resources/public/js
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
/pom.xml
.repl
*.swp
*.zip
clojurescript_release_*
closure-release-*
