

body {
  background-color: #111;
  margin-left: 40px;
  color: #ddd;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
}

p.notice {
  color: #da8;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

p.error {
  font-size: 150%;
  color: red; 
  font-weight: bold;
}

.sequence-wrapper {
  width: 1150px; 
}

#status-report {
  color: #ffffff;
  width: 16px;
  height: 16px;
}

#status-report.processing {
  background-image: url("../images/ajax-loader.gif");
}

form label {
  padding: 0 4px;

}

#data {
  border-top: 1px solid #292929;
  background-color: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
}

#data div
 {
  min-width: 25px;
  float: left;
}

#data div.unit {
  padding-left: 5px;
}

#data div.description {
  min-width: 120px;
}

#data div.year {
  min-width: 50px;
  padding-left: 5px;
}

#data div.day,
#data div.month,
#data div.value {
  text-align: right;
}

#data div.value {
  min-width: 30px; 
}


#data div.weekday {
  text-transform: capitalize;
  width: 50px;
}

canvas {
  cursor:crosshair;
}

.headers-top {
  margin-top: 40px;
}

.headers-top.hidden {
  visibility: hidden;
}

.inner-wrapper {
  float: left;
}

.headers-right {
  margin-top: 69px;
  float: left;
  height: 1000px;
}

.headers-right .year {
  padding-left: 5px;
  line-height: 16px;
  font-size: 12px;
}

.headers-top .month {
  float:left;
  font-size: 10px;
  margin-bottom: 1px;
  padding: 10px 10px 4px 10px;
  text-transform: uppercase;
  border-right: 1px solid;
  border-top: 1px solid;
}

.form-wrapper {
  border-top: 1px solid;
  padding-top: 20px;
}

form .form-grouping {
  padding: 4px 0;
  
}

form input[type="text"] {
  width: 500px;
}

form input.submit {
  padding: 0 4px;
  margin: 0 4px;
}

.ac-renderer {
  font: normal 13px Arial, sans-serif;
  position: absolute;
  background: #333;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 300px;
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background-color: #440000;
}
